<a href="https://colab.research.google.com/github/benchov/AlgoTrading/blob/master/Get_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance
!pip install --upgrade pandas_datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.87-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.5 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.87
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 27.4 MB/s
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2.1.1)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [8]:
import yfinance as yf
from pandas_datareader.data import DataReader

In [3]:
data = yf.download("AAPL", '2017-01-01', '2022-01-01')
data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  27.174755  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  27.144342   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.282377   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.586529  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  27.839207  134247600

In [10]:
data_dr = DataReader(name="AAPL", data_source="yahoo", start='2017-01-01', end='2022-01-01')
data_dr.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2017-01-03  29.082500  28.690001  28.950001  29.037500  115127600.0  27.174753
2017-01-04  29.127501  28.937500  28.962500  29.004999   84472400.0  27.144339
2017-01-05  29.215000  28.952499  28.980000  29.152500   88774400.0  27.282381
2017-01-06  29.540001  29.117500  29.195000  29.477501  127007600.0  27.586527
2017-01-09  29.857500  29.485001  29.487499  29.747499  134247600.0  27.839209

In [14]:
import requests
import json
import pandas as pd
req = requests.get("https://api.poloniex.com/markets/ETH_USDT/candles?interval=MINUTE_5")
data = json.loads(req.text)
df = pd.DataFrame(data)
df.head()

        0        1        2   ...        11             12             13
0  1129.07  1132.43     1132  ...  MINUTE_5  1669165800000  1669166099999
1  1129.89  1131.56   1130.2  ...  MINUTE_5  1669166100000  1669166399999
2  1128.39  1131.42  1131.35  ...  MINUTE_5  1669166400000  1669166699999
3  1128.94  1130.15  1129.49  ...  MINUTE_5  1669166700000  1669166999999
4  1128.45  1131.95  1128.59  ...  MINUTE_5  1669167000000  1669167299999

[5 rows x 14 columns]

In [17]:
df.to_csv("test_data.csv")

In [19]:
data_from_csv = pd.read_csv("./test_data.csv")
data_from_csv.head()

   Unnamed: 0        0        1  ...        11             12             13
0           0  1129.07  1132.43  ...  MINUTE_5  1669165800000  1669166099999
1           1  1129.89  1131.56  ...  MINUTE_5  1669166100000  1669166399999
2           2  1128.39  1131.42  ...  MINUTE_5  1669166400000  1669166699999
3           3  1128.94  1130.15  ...  MINUTE_5  1669166700000  1669166999999
4           4  1128.45  1131.95  ...  MINUTE_5  1669167000000  1669167299999

[5 rows x 15 columns]